@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: rgb(229 231 235);
  }
  
  body {
    background-color: white;
    color: rgb(17 24 39);
    -webkit-font-smoothing: antialiased;
  }

  mark {
    background-color: rgb(254 240 138);
  }
}
.ProseMirror {
  outline: none;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.ProseMirror p {
  margin: .75rem 0;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

.ProseMirror blockquote {
  border-left: 4px solid #d1d5db;
  padding-left: 1rem;
  color: #6b7280;
  margin: 1rem 0;
}

.ProseMirror pre {
  background: #111827;
  color: white;
  border-radius: .5rem;
  padding: 1rem;
  overflow-x: auto;
}

.ProseMirror code {
  font-family: monospace;
}